<!DOCTYPE html>
<html lang="sk">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<script src="{$basePath}/js/sweetalert2.min.js"></script>

	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>
</head>

<body>
User

{block scripts}
	<script src="https://unpkg.com/nette-forms@3"></script>
	<script>
		{if $flashes}
		{foreach $flashes as $flash}
		Swal.fire({
			title: 'Správa',
			text: {$flash->message},
			icon: {$flash->type},
			timer: 3000,
			showConfirmButton: false
		});
		{/foreach}
		{/if}
	</script>
{/block}

</body>
</html>
